body {
    color:white;
background-color: rgb(81, 255, 0);
}
.heading {
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color : rgb(0, 17, 255);


}
#camera{
    border: 2px dashed red ;
    width : 350px ;height: 300px ;
}